@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0084ff;
  --secondary-color: #feb728;
  --success-color: #28c76f;
  --danger-color: #ff4971;
  --warning-color: #feb728;
  --info-color: #5b8ff9;
  --light-color: #f5f6fc;
  --dark-color: #1e293b;
  --gray-light: #f2f2f2;
  --gray-medium: #b3b3b3;
  --gray-dark: #4a4a4a;
  --default-border-radius: 6px;
  --button-border-radius: 6px;
}
